.container {
    width: auto;
    min-height: 100vh;
    background-image: url('background.jpg');
    background-size: cover;
    background-position:center;
  }
  .header{
    width:100%;
    background-color: white;
  }
  .princ{
    padding: 30px;

    text-align: center;
    color: white;
    font-size: 24px;
  }
  .footer{
    position: absolute;
    bottom:0px;
    left:0;
    width: 100%;
  }